[Desktop Entry]
Comment[fr_FR]=
Comment=
Exec=
GenericName[fr_FR]=
GenericName=
Icon=
MimeType=
Name[fr_FR]=TikzGraphGen
Name=TikzGraphGen
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

