name: Build EXE

on:
    push

permissions:
  contents: write   # required to create releases / push tags
  packages: write   # required if you publish packages
  id-token: write   # only needed for OIDC flows; safe to keep if you use it

jobs:
    Build-Windows:
        runs-on: windows-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.10' # Update as needed

          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                python -m pip install -r requirements.txt

          - name: Build EXE files
            run: python -m PyInstaller src/main.py --noconfirm

          - name: Upload EXEs as artifacts
            uses: actions/upload-artifact@v4
            with:
                name: exes-win
                path: dist/main/**.*

    Build-Linux:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.10' # Update as needed

          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                python -m pip install -r requirements.txt

          - name: Build EXE files
            run: python -m PyInstaller src/main.py --noconfirm

          - name: Upload EXEs as artifacts
            uses: actions/upload-artifact@v4
            with:
                name: exes-debian
                path: dist/**.*

    release:
        name: Release pushed tag
        runs-on: ubuntu-24.04
        needs: [Build-Linux, Build-Windows]
        steps:
          - name: Create release
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            run: |
              gh release create "$GITHUB_REF_NAME" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} $GITHUB_REF_NAME"